doctype html
html
  head
    meta(charset="utf-8")
    title Panagora Icons
    meta(name="viewport" content="initial-scale=1, user-scalable=yes, width=device-width")
    link(rel="stylesheet", href="/css/app.bundle.css")
  body
    include sprite.svg
    script(src="/js/app.bundle.js")
